input {
    background-color: transparent;
    padding-right: 10px;
    width: 280px;
}

.firstValHistory {
  opacity: 0.6;
  font-size: 60%;
  font-weight: 300;
}

.historyElement {
  height: 70px;
    border: 0px;
    margin-bottom: 10px;
    background-color: transparent;
}

.inputHistory {
  /* font-size: 150%; */
    margin-top: 0px;
}

.historyElement:hover {
    background-color: rgb(104, 104, 104);
}

input:focus,
input:active,
button:focus,
button:active {
  outline:none;
}

.historyElement:hover:active {
  font-size: 90%;
}