@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
}

body {
  
  
  align-items: center;
  font-size: 14px;
  /* background-color: black; */
}

.App {
  margin-top: 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row: 2;
}

/* ====================================  CALC */
.calculator {
  width: 350px;
  background-color: rgb(104, 104, 104);
}

.keyboard {
  display:grid;
  grid-template-columns: repeat(4, 1fr); /*1fr 1fr 1fr 1fr */
  grid-auto-rows: minmax(55px , auto);
}

input {
  height: 55px;
  border: 0px;
    color: lightyellow;
    background-color:  rgb(104, 104, 104);
    text-align: right;
    letter-spacing: 1px;
}

button {
  border-radius: 10px;
  
  color: honeydew;
  cursor: pointer;
  background-color: transparent;
  /* opacity: 0.3; */
}

#clear {
  grid-column: 1/3;
  grid-row: 1;
}

#equal {
  grid-column: 3/5;
  grid-row: 5;
}

button:hover {
  background-color: lightslategrey;
  /* opacity: 1; */
}

/* ====================================  HISTORY */
.history {
  width: 250px;
  
  text-align: right;
  display:grid;
}

.historyBlock{
  background-color: lightslategrey;
}

/* .historyElement {

} */

input:focus,
input:active,
button:focus,
button:active {
  outline:none;

}
 
